{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Registrar{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}

{% block body %}
<div class="container mt-5">
  {% for message in get_flashed_messages() %}
  <div class="alert alert-warning">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ message }}
  </div>
  {% endfor %}

  <div class="row">
    <!-- Sidebar menu -->
    <div class="col col-md-9 ">
      <h2>Registrate</h2>
      <strong>Es rápido y facil</strong>
      <hr>
      {{ wtf.quick_form(form) }}
    </div>
  </div>
</div>
{% endblock %}