<!DOCTYPE html>
<html lang="es">
  <head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock %} - RSS-FEED</title>
    <!-- Ajax -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Fuentes -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,700,700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">
    <!-- Estilos -->
    <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
    {% endblock %}
  </head>
  <body>
      {% include 'includes/navbar.html' %}
      
      {% block body %}
      
      {% endblock %}

      <!-- Javascript -->
      <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
      <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  </body>
</html>